.commandrow{
    display:flex;
    padding: 1em;
    background-color: #a3a3a3;
    font-family: 'Acme';
}

.best_avg{
    display: flex;
    background-color: white;
    padding: 0.5em;
}

.best_avg_input{
    font-family: 'Acme' !important;
    width: 50px !important;
    margin: 0 .5em;
}

.list{
    padding:2em;
    background-color: #c7af2995;
}

.directorname{
    font-family: 'Acme';
    margin:.5em;
}

.avg{
 border: solid 1px black;
 border-radius: 25px;;
 padding:.2em;
 font-size:12px;
 font-weight: 800;
 background-color: #f9e382;
}

.totals{
    margin: 0 5px;
    font-size: 10px;
    font-family: 'Acme';
}

.country img{
    width:20px
}

.datarow{
    border-bottom: solid 1px black;
}

.posterlist img{
    width: 50px;
    margin: 3px;
}

.posterlist{
    position: relative;
}

.postercontainer {
    display:flex;
    position: relative;
    flex-wrap: wrap;
}

.posterraiting{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.553);
    color: white;
    bottom: 10px;
    padding:2px;
    border-radius: 20px;
    border: solid 2px #f2d600;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Acme';
    width:15px;
    text-align: center;
}