.tops{
    font-family: 'Acme';
}

.tops h1{
    margin: 1em;
    border: solid 1px black;
    border-radius: 50px;
    width: 10%;
    text-align: center;
}

.lookups{
    display: flex;
    margin: 1em;
    gap:2px;
    border:solid 1px rgba(0, 0, 0, 0.202);
    padding:1em;
    background-color: rgba(0, 0, 0, 0.012);
}

.lookups div{
    flex: 0 0 20%;
}

.boxes{
    background-color: white;
}

.topview{
    display:flex;
    gap: 5px;
    margin-bottom: 5px;;

}

.topview img{
    width:60px;
}

.topview p {
    margin: 0;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

.render_films_area{
    background-color: rgba(209, 209, 209, 0.323);
    margin: 0 2em;
    padding: 1em;
}

.top_button{
    font-family: 'Acme';
    background-color: rgb(207, 163, 20);
    margin-left: 1em;
    cursor: pointer;
}

.rating{
    color: rgb(241, 187, 9);
    border-radius: 5px;
    width: fit-content;
    padding:3px;
    text-shadow: 1px 1px 2px black;
    font-size: 1.2em;
}