.last5area {
    display: flex;
    justify-content: center;
}

.headerlast5 {
    text-align: center;
    margin-top: 100px;
    font-family: Racing Sans One;
    text-shadow: 1px 1px 1px var(--official-yellow);
}