.entry{
    display:flex;
    height: 45px;
    font-size:14px;
    padding: 5px;
    border: solid 1px lightgrey;
}

.wrapper{
    border: solid 1px lightgrey;
    margin: 2em;
    font-family: 'Racing Sans One';
    width: 65%;
    justify-self: center;
}

.flagy img{
    width: 20px;
    margin-right: 15px;
    padding: 2px;
}

.director{
    width:250px;
}

.checkie{
    width:250px;
    text-align: center;
}

.year{
    width:50px;
}

.headers{
    display:flex;
    background-color: lightgray;
}

.filterbox{
    margin-bottom: 5px;
    border: solid 1px lightgray;
}

.filterbox_short{
    margin-bottom: 5px;
    border: solid 1px lightgray;
    width:55px;
}

.gotag{
    background-color: black;
    color:white;
    border-radius: 10px;
    font-size: 9px;
    padding: 3px;
    cursor:pointer;
}

.cleartag{
    background-color: black;
    color:white;
    border-radius: 10px;
    font-size: 9px;
    padding: 3px;
    cursor:pointer;
    height:15px;
    align-self: center;
}

.droplist{
    border: solid 1px lightgray;
    padding: 5px;
    position: absolute;
    background-color: white;
    top: 41px;
    cursor: pointer;
}

.dropitem:hover{
 background-color: lightgray;
}

.dropspan img{
 width:15px;
}