.entry{
    display:flex;
    height: 45px;
    font-size:14px;
    padding: 5px;
    border: solid 1px lightgrey;
}

.wrapper{
    border: solid 1px lightgrey;
    margin: 2em;
    font-family: 'Racing Sans One';
}

.flagy img{
    width: 20px;
    margin-right: 15px;
    padding: 2px;
}

.director{
    width:250px;
}

.checkie{
    width:100px;
    text-align: center;
}

.year{
    width:50px;
}