h2{
    font-family: Racing sans One;
    padding:1em;
    margin: auto;
    width: auto;
    text-align: center;
}

h2 span {
    text-decoration: underline;
}

.total{
    border: solid 2px black;
    width: fit-content;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 51px;
}

.gotopage{
    margin: 1em;
    font-weight: 600;
    background-color: #f2d60095;
    width: fit-content;
    padding: 0.5em;
}

.directorname{
    font-size: 70px;
    color: #db9f31;
    background-color: #fff591c9;
    text-shadow: 1px 1px 1px black;
}