h2{
    font-family: Racing sans One;
    padding:1em;
}

h2 span {
    text-decoration: underline;
}

.total{
    border: solid 2px black;
    width: fit-content;
    background-color: #f2d600;
    margin: auto;
    padding: 3px;
    border-radius: 10px;
    font-weight: 700;
}

.gotopage{
    margin: 1em;
    font-weight: 600;
    background-color: #f2d60095;
    width: fit-content;
    padding: 0.5em;
}