.cardbox {
    border: solid .5px #929292;
    box-shadow: 1px 1px 2px black;
    margin: 1em;
    font-family: Racing Sans One;
    font-weight: 100;
    /* text-shadow: 1px 1px white; */
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.rating{
    color: black;
    font-size: 40px;
}

.title{
    /* background-color: black; */
    padding: .5em;
    border-radius: 10px;
    background-image: linear-gradient(rgb(195, 177, 11) 10%, 30%, orange 90%);
    color:white;
    text-shadow: 1px 1px 3px black;
}

.poster{
    width:100px;
}

.poster img{
    width:100%;
}