.modal{
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: solid 1px lightgray;
  margin: 1em;
  width: 400px;
  height: 600px;
  text-align: center;
  font-family: 'Racing Sans One';
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
  background-color: #fcf9e6;
  transform: scale(0);
  transition: transform 0.3s ease-in;
  z-index: 4;
}

.opening{
    transform: scale(1);
    
}

.databox{
  border-top: solid 1px #777777a2;
  width:100%;
  margin-top: 5px;
}

.colddata{
  background-color: burlywood;
    padding: 1px 0 1px 5px;
    text-align: left;
    margin-top: 5px;
}

.colddata p{
line-height: 1px;
}

.lastseen{
  display:flex;
  padding: 5px 0 1px 5px;
}

.img_last{
  width:65px;
  margin-right: 5px;
}

.img_last img{
  max-width:100%;
}

.last_text{
  flex-grow: 1;
}

.bars{
  display:flex;
  font-size: 8px;
}

.bar_area{
  background-color: bisque;
    padding: 2px;
}

.fabfive{
  display:flex;
  height: 100px;
  justify-content: space-between;
  margin: 5px 0;
  position: relative;
}

.fabfive img{
  height: 100%;
}

.rating{
  position:absolute;
  top: 0;
    background-color: #f09412;
    padding: 2px;
    border-radius: 3px;
    color: #000000;
}

.nameo{
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  width: 61px;
  color: black;
  background-color: white;
  line-height: 8px;
  padding: 2px;
  opacity: 0.8;
}