.country_row{
    display:flex;
    font-family: 'Acme';
    font-size: 11px;
}

.country_row img{
    height:10px;
}

.total_country{
    margin: 2em;
    background-color: rgba(175, 175, 175, 0.449);
    padding: 1em;
}

.country_name{
    width: auto;
}

.no_bar_side{
    width: 200px;
}

.count{
    background-color: #87c193;
    color: white;
    text-shadow: 1px 1px 1px black;
    float:right;
    padding:2px;
    border:solid 1px orange;
    font-size: 11px;
}

.tabs{
    display:flex;
    font-family: "Racing Sans One";
    justify-content: left;
    margin-top: -38px;
    margin-bottom: 10px;
}
.tabs div{
    border:solid 1px black;
    padding: 0px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    cursor: pointer;
}

.minavg{
    font-family: "Racing Sans One";
    margin: 1em 0;
    font-size: 12px;
}

.minavg input {
    border-radius: 5px;
    border: none;
    margin-left:10px;
    font-family: "Racing Sans One";
    width: 50px;
}